
body, html {
    height: 100%;
    margin: 0;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px; ;
    overflow: hidden;
    background-color: black;
    font-size: 2em;
    
}
li {
    float: right;
    color:azure; 
    text-align: center; 
    padding: 16px 15px;  
    font-family: fantasy; 
    text-transform: uppercase;
    letter-spacing: 5px;
}
    
.bg {
        background-image: url("https://raw.githubusercontent.com/devtlv/studentsGitHub/master/Images%20cours%20%C3%A0%20h%C3%A9berger%20-%2006.03.2024/Week%201%20-%20Web%20development%20Basics/W1D1/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
      }

h1 {
    position: relative;
    left: 100px;
    top: 350px;
    font-size: 5em;
    text-transform: uppercase;
    font-family: arial;
    letter-spacing: 14px;
}
p {
    color: black;
    font-family: Arial;
    position: relative;
    left: 110px;
    top: 280px;
    display: inline-block;
    max-width: 30%;
}

