@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body {
    background: rgb(80, 13, 80);
    color: bisque;
}

.header {
    position: fixed;
    /* background: bisque; */
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size: 25px;
    color: rgb(109, 108, 109);
    text-decoration: none;
    font-weight: 400 ;
}

.navbar a {
    font-size: 16px;
    color: rgb(109, 108, 109);
    text-decoration: underline;
    font-weight: 400 ;
    margin-left: 35px;
    transition: .7s
}


.navbar a:hover,
.navbar a.active {
    color: rgb(196, 168, 168);
    background-color: rgb(80, 13, 80);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.home-content 
{
    /* background-color: rgb(118, 146, 137); */
    max-width: 700px;
}

.home-content h1 {
    font-size: 42px;
    max-width: 700px;
    line-height: 1.2;

}

.home-content h3 {
    font-size: 26px;
    max-width: 500px;
    margin: 10px 0 10px;;
    border: 1px solid rgb(196, 196, 184);
    border-radius: 10px;
    background-color: rgb(196, 196, 184);
    color: rgb(80, 13, 80);
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    max-width: 500px;
    letter-spacing: 1px;
    
}
.home-content .box1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 320px;
    height: 45px;
    font-size: 14px;
    
    
    
}
.box1 a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(196, 196, 184);
    border: 2px solid rgb(196, 196, 184);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
}
/* .box1 a:nth-child(2) {
    background: transparent;
} */

.box1 a::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: yellowgreen;
    z-index: -1;
    transition: .5s;
}

.box1 a:hover::before {
    width: 100%;
}