* {
    margin: auto;

}
.row {
    display: grid;
    grid-template-rows: ;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: space-between;
    

}

.col {
    width: 400px;
    height: 250px;
    border: 1px solid black;
}
.col1 {
    background-color: rgb(145, 145, 209);
}
.col2 {
    background-color: plum;
}
.col3 {
    background-color: yellowgreen;
}

@media (max-width: 768px) {
    .row {
        display: block;

    }
}

