.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 400px;
    grid-template-areas: 
    "header header header"
    "article-1 article-2 article-2";
    grid-gap: 7px;
    
}

.header, .article-1, .article-2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color:aquamarine;
    font-family: Comic Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    

}

   
.article-1 {
    grid-area: article-1;
    display: grid;

}
.inner {
    
}
.article-2 {
    grid-area: article-2; 
    display: grid;
    
}



